<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/dashboard"
    ><i class="fas fa-paragraph"></i>
    posty
  </a>

  <ul class="navbar-nav mr-auto"></ul>
  <ul class="navbar-nav">
    <img class="avatar-nav" src="<%= currentUser.avatar %>" />
    <!-- <a href="/logout">Logout</a> -->
  </ul>
</nav>
