:root {
  --main-color: #62d6bd;
  --main-hover: #54b8a2;
  --text-color: #5f5f5f;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-hover);
  text-decoration: none;
}

body {
  color: var(--text-color);
  background-color: #f7f8fb;
}

button,
.btn {
  color: white;
  background-color: var(--main-color);
  width: 80%;
  font-weight: 600;
  white-space: nowrap;
}

button:hover,
.btn:hover {
  color: white;
  background-color: var(--main-hover);
}

h5 {
  margin-top: 1.25rem;
}

input {
  width: 80%;
  padding: 0.375rem 0.75rem;
  border: 1px solid #cbcbd2;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(203, 203, 210, 0.4);
}

input:focus {
  outline: none;
  border: 1px solid var(--main-color);
}

label {
  font-size: 0.9rem;
  font-weight: 600;
}

#create-description {
  color: white;
  padding-top: 4rem;
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;
}

#greeting {
  background-color: var(--main-hover);
  margin: 3rem;
  letter-spacing: 0.1rem;
}

#logo {
  color: white;
  font-size: 5rem;
  margin-top: 4rem;
}

#logo-small {
  color: white;
  font-size: 2rem;
}

#logo-subtext {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.5rem;
  margin-bottom: 4rem;
}

#main {
  margin-top: 2rem;
}

#sidebar {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.25rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.action-form {
  display: inline;
}

.avatar {
  border-radius: 0.25rem;
  width: 80px;
  height: 80px;
  margin: auto;
}

.avatar-nav {
  border-radius: 0.25rem;
  width: 40px;
  height: 40px;
}

.btn-community {
  width: fit-content;
  max-width: 10rem !important;
  float: right;
  padding: 0.15rem !important;
}

.card {
  border: 0px;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-top: 0.5rem;
}

.card:hover {
  background-color: #fafafa;
}

.card h5 {
  margin-top: 0;
}

.card-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card-footer {
  padding: 0 1.25rem;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.community-image-small {
  border-radius: 0.25rem;
  width: 90px;
  height: 90px;
  margin: auto;
}

.fa-heart {
  color: var(--red) !important;
}

.fa-pen {
  color: var(--blue) !important;
}

.fa-sticky-note {
  color: var(--yellow) !important;
}

.fas:hover {
  transform: scale(1.1);
}

.list-group-item {
  background: none;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

.navbar {
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.125);
}

.navbar-brand {
  color: var(--main-color) !important;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.navbar .input-group {
  width: 50%;
  max-width: 300px;
  margin: auto !important;
}

.navbar .input:focus {
  outline: none;
}

.navbar .input-group-text {
  color: var(--main-color);
  background-color: #f7f7f7;
}

.panel {
  color: #5f5f5f;
  max-width: 400px;
  border: 0px;
  margin: auto;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
}

.panel:hover {
  background-color: white;
}

.panel-form {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.25rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.panel i {
  margin-right: 0.5rem;
  color: var(--main-color);
}

.panel h5 {
  margin-top: 1rem;
}

.panel hr {
  margin: 2rem 0;
}

.post-info {
  float: right;
}

.wrapper {
  background-color: var(--main-color);
  text-align: center;
  width: 100%;
  height: 100vh;
}

.panel .label-container {
  width: 80%;
  margin: auto;
  text-align: left;
}

.sidebar-community img {
  max-height: 300px;
  max-width: 95%;
}

@media (max-width: 960px) {
  .container {
    width: 100%;
    max-width: none;
  }
}
