<%- include('../partials/header') %>

<div class="col">
  <h1>Create a Post</h1>

  <form action="/communities/<%= community._id %>/posts" method="POST">
    <div class="form-group">
      <input type="text" name="post[author]" placeholder="Author" />
    </div>
    <div class="form-group">
      <input type="text" name="post[title]" placeholder="Post Title" />
    </div>
    <div class="form-group">
      <input type="text" name="post[body]" placeholder="Post Body" />
    </div>
    <button class="btn btn-primary">Create Post</button>
  </form>
</div>
